<form method="POST" action="/post/submit">
    <input hidden required type="text" id="formName" name="nom">
    <label hidden  for="formName">Nom</label>

    
    <input hidden type="number" id="formScore" name="score">
    <label hidden for="formScore">Score</label>

    <button hidden type="submit">Envoyer</button>
</form>